<div class="col-sm">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <iframe src="https://www.youtube.com/embed/{{YOUTUBEID}}?feature=oembed&amp;amp;wmode=opaque&amp;amp;wmode=opaque"
                    frameborder="0" allowfullscreen="" class="fitvid512772"></iframe>
            <p class="card-date">{{DATE}}</p>
            <h5 class="card-title">{{TITLE}}</h5>
            <p class="card-text">
                {{SPEAKER}}<br/>
                {{SCRIPTURE}}
            </p>
        </div>
    </div>
</div>